.idea/
.DS_Store
matchers/__pycache__/
.build/

project/
headers/
resource/

exclude_id.txt
data.json
resources.txt
swift-extractor/Package.resolved
output/
backup/headers/
backup/resource/
rule_output/
rule_base/
backup/process_rules.py


# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

